* {
	margin: 0;
	text-align: center;
	/*border: 1px dotted red;*/
}
h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica;
}
.puppy {
	font-family: Georgia;
}
header {
	background: grey;
	padding: 10px;
	border: 1px solid #000000;
}
h1 {
	font-size: 4em;
}
section {
	padding: 10px;
}
.kitten {
	text-align: left;
	line-height: 1.5em;
}
.paragraph {
	width: 45ex;
	display: inline-block;
}
footer {
	background: blue;
	padding: 10px;
}